<mat-grid-list cols="1" rowHeight="150px" id="main" >

    <mat-grid-tile>
        <h2>Temperature Converter</h2>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class='internalMatGrid' >
            <mat-grid-list cols="2" rowHeight="100px">
                
                <mat-grid-tile>
                    <app-textbox title="Degrees"></app-textbox>
                </mat-grid-tile>

                <mat-grid-tile>
                    <app-temp-unit title="Unit"></app-temp-unit>
                </mat-grid-tile>

                <mat-grid-tile colspan="2">
                    <app-button (messageEvent)="receiveMessage()" title="Convert"></app-button>
                </mat-grid-tile>

            </mat-grid-list>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <h2>Result: {{this.result}}</h2>
    </mat-grid-tile>

</mat-grid-list>
